<?xml version="1.0"?>
<robot name="husky_ur5" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />

  <xacro:include filename="$(find husky_description)/urdf/accessories/sick_lms1xx_mount.urdf.xacro" />

  <!-- LiDAR lowered from 37.7 cm to 25.7 cm above ground to detect low obstacles.
       tower="0" removes the raised bracket; z=-0.10 drops it 10 cm below top_plate. -->
  <xacro:sick_lms1xx_mount prefix="base"
    parent="top_plate_link"
    topic="/front/scan"
    robot_namespace="/"
    tower="0">
    <origin xyz="0.3 0.0 -0.10" rpy="0.0 0.0 0.0" />
  </xacro:sick_lms1xx_mount>

  <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>

  <xacro:ur_robot
    prefix="ur5_"
    transmission_hw_interface="hardware_interface/PositionJointInterface"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml" />

  <joint name="husky_to_ur5_joint" type="fixed">
    <parent link="top_plate_link" />
    <child link="ur5_base_link" />
    <origin xyz="-0.1 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Gripper -->

  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_hande_gripper.urdf.xacro" />
  <!-- Attach the robotiq hand-e gripper -->
  <xacro:robotiq_hande_gripper prefix="" parent="ur5_tool0" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_hande_gripper>


<link name="realsense_camera_link">
    <visual>
      <geometry>
        <box size="0.02 0.05 0.02"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.02 0.05 0.02"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.1" /> <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00002" ixy="0.0" ixz="0.0"
               iyy="0.00001" iyz="0.0"
               izz="0.00002" />
    </inertial>
  </link>

  <joint name="camera_to_wrist" type="fixed">
    <parent link="ur5_tool0" />
    <child link="realsense_camera_link" />
    <origin xyz="0.0 0.05 0.0" rpy="0.0 -1.57 -1.57" />
  </joint>

  <!-- Dummy Link & Joint -->
  <link name="realsense_camera_optical_frame" />
  <joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" /> <parent link="realsense_camera_link" />
    <child link="realsense_camera_optical_frame" />
  </joint>

  <gazebo reference="realsense_camera_link">
    <sensor type="depth" name="realsense_depth">
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <camera>
        <horizontal_fov>1.047198</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>3.0</far>
        </clip>
      </camera>
      <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera_ir</cameraName>
        <imageTopicName>/camera/color/image_raw</imageTopicName>
        <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>/camera/depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
        <frameName>realsense_camera_optical_frame</frameName>
        <pointCloudCutoff>0.05</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      </plugin>
    </sensor>
  </gazebo>

</robot>
