<launch>
  <param name="use_sim_time" value="true"/>

  <!-- map server — load your saved map -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find mobile_manipulator)/maps/small_house_map.yaml"/>

<node pkg="mobile_manipulator" type="semantic_labeler.py"
      name="semantic_labeler" output="screen" launch-prefix="xterm -e python3">
  <param name="output"
         value="$(find mobile_manipulator)/config/semantic_map.yaml"/>
  <param name="min_points" value="3"/>
</node>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find mobile_manipulator)/rviz/labeling.rviz"/>
</launch>
