<launch>
  <env name="HUSKY_LMS1XX_ENABLED" value="1"/>

  <env name="GAZEBO_MODEL_PATH"
       value="$(find aws_robomaker_small_house_world)/models:$(find mobile_manipulator)/gazebo_models:$(optenv GAZEBO_MODEL_PATH)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
         value="$(find aws_robomaker_small_house_world)/worlds/small_house.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro '$(find mobile_manipulator)/urdf/husky_ur5.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model husky_ur5
              -x 0.0 -y 0.0 -z 0.2 -Y 1.57
              -J ur5_shoulder_pan_joint 0
              -J ur5_shoulder_lift_joint -1.57
              -J ur5_elbow_joint 3.0
              -J ur5_wrist_1_joint -1.0
              -J ur5_wrist_2_joint 1.57
              -J ur5_wrist_3_joint 0
              -unpause"
        output="screen" />

  <rosparam command="load" file="$(find husky_control)/config/control.yaml" />
  <rosparam command="load" file="$(find mobile_manipulator)/config/ur5_controllers.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="husky_joint_publisher husky_velocity_controller" output="screen" />
  <rosparam param="wheel_radius_multiplier" ns="husky_velocity_controller" subst_value="true">
    $(optenv HUSKY_WHEEL_MULTIPLIER 1.0)
  </rosparam>

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner"
        args="ur5_arm_controller gripper_controller" output="screen" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find husky_control)/config/localization.yaml" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
  </node>

</launch>